.main-inputs {
    display: grid;
    gap: 15px;
    padding: 15px;
}
.main-inputs input {
    width: 100%;
    background-color: #f5f5f5;
    color: #232323;
    font-size: 1rem;
    border: 2px solid #e2e2e2;
    padding: 15px;
}
.main-inputs input:hover {
    background-color: #fff;
    transition: background-color 0.2s;
}
.main-inputs input:focus {
    border-color: #0569c8;
    outline: none;
    transition: border 0.2s;
}
.input-obrigatorio {
    position: relative;
}
.input-obrigatorio::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 10px solid red;
    border-bottom: 10px solid transparent;
}
.readonly input {
    cursor: not-allowed;
}
.readonly:hover input {
    background-color: #f5f5f5;
}
.readonly input:focus {
    border: 2px solid #e2e2e2;
}

.main-inputs-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.main-inputs-buttons button {
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}
.main-inputs-buttons-cancel {
    background-color: #f5f5f5;
    border: 2px solid #e2e2e2;
    color: #232323;
}
.main-inputs-buttons-cancel:hover {
    background-color: #fff;
}
.main-inputs-buttons-cancel:active {
    background-color: #e2e2e2;
    border-color: #0569c8;
    transition: background-color 0s, border-color 0s;
}
.main-inputs-buttons-delete {
    background-color: #c8052b;
    border: 2px solid #c8052b;
    color: #fff;
}
.main-inputs-buttons-delete:hover {
    background-color: #f9073a;
    border-color: #f9073a;
}
.main-inputs-buttons-delete:active {
    background-color: #af041f;
    border-color: #af041f;
    transition: background-color 0s, border-color 0s;
}
.main-inputs-buttons-save {
    background-color: #0569c8;
    border: 2px solid #0569c8;
    color: #fff;
}
.main-inputs-buttons-save:hover {
    background-color: #0784f9;
    border-color: #0784f9;
}
.main-inputs-buttons-save:active {
    background-color: #045daf;
    border-color: #045daf;
    transition: background-color 0s, border-color 0s;
}